
@{
    ViewData["Title"] = "Actualizar Actor";
}

<h1>Actualizar Actor</h1>

@model  Vidioteca.Models.Actor.ActualizarViewModel
@{ Layout = "_Layout"; ViewBag.Title = "Actualizar Actor";}

@{ Model.foto = null;}
 
<form asp-action="Actualizar" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="idactor">ID</label>
        <input class="form-control" asp-for="idactor" readonly />
    </div>
    <div class="form-group">
        <label asp-for="nombre">Nombre</label>
        <input class="form-control" asp-for="nombre" />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label >Sexo</label>
        <select class="form-control" asp-for="sexo">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="fechanac">Fecha Nacimiento</label>
        <input class="form-control" type="date" asp-for="fechanac" />
    </div>
    <div class="form-group">
        <label asp-for="foto">Foto</label>
        <input class="form-control" asp-for="foto" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
