
@{
    ViewData["Title"] = "CrearActor";
}

<h1>CrearActor</h1>

@model Vidioteca.Models.Actor.CrearViewModel
@{ Layout = "_Layout"; ViewBag.Title = "Agregar Actor";}
 
<form asp-action="Crear" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="nombre">Nombre</label>
        <input class="form-control" asp-for="nombre" />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Sexo</label>
        <select class="form-control" name="sexo">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="fechanac">Fecha Nacimiento</label>
        <input class="form-control" type="date" asp-for="fechanac" />
        <span asp-validation-for="fechanac" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="foto">Foto</label>
        <input class="form-control" type="file" asp-for="foto" />
        <span asp-validation-for="foto" class="text-danger"></span>
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>