@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba Hunter</h1>
    <p>Realizada por: Alexander Damaso <a href="http://alexanderdamaso.epizy.com/MiPagina">Mi Pagina</a>.</p>
</div>

@model IEnumerable<Actor>
@{ Layout = "_Layout"; ViewBag.Title = "Inicio";}
 


